{% extends "home/base_home.html" %}

{% load static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <!-- primer bloque del home -->
    <div class="grid-x grid-margin-x" style="margin-top: 6em;">
        <!-- bloque de blog principal -->
        <div class="cell small-12 large-6">
            <div class="card" style="width: 100%; background: #FCFCFC; box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15); border-radius: 20px;">
                <img src=" {{ portada.image.url }} ">
                <div class="card-section">
                    <h4><a href="{% url 'entrada_app:entry-detail' portada.id %}"> {{portada.title}} </a> </h4>
                    <p> {{portada.resume}} </p>
                </div>
            </div>
        </div>
        <!-- FIN bloque de blog principal -->

        <!-- bloque de blog principal -->
        <div class="cell small-12 large-6 grid-x grid-margin-x">            
            {% for entrada  in entradas_home  %}
            <div class="cell small-12 large-6">
                <div class="card" style="width: 100%; background: #FCFCFC; box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15); border-radius: 20px;"">
                    <img src=" {{entrada.image.url}} " style="height:120px; ">
                    <div class="card-section">
                        <h5> {{entrada.title | truncatechars:60}} </h5>
                    </div>
                </div>
            </div>                
            {% endfor %}                
        </div>
        <!-- FIN bloque de blog principal -->
    </div>
    <!-- FIN del primer bloque home -->

    <!-- segundo bloque pantalla home -->
    <div class="grid-x align-center" style="margin-top: 1em; background: linear-gradient(94.23deg, #6B54FA -2.64%, #DD6B6B 90.08%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 300px; border-radius: 300px;">
        <div class="cell small-12 large-10 " style="margin-top: 1em; font-family:cambria; font-size: 20px; color: #ffffff; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
            <h5><strong>{{home.about_title}}</strong> </h5>
            <div class="cell small-12 large-10" style="font-family:cambria; font-size: 15px; color: #ffffff;">
            <p>
                {{home.about_text}}
            </p>
            </div>
            <p>
                <button class="button" data-open="exampleModal2" style="font-family:cambria; font-size: 18px; color: #ffffff; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); background: linear-gradient(89.52deg, rgba(166, 19, 236, 0) -1.13%, rgba(222, 31, 253, 0) 99.75%);
                border: 4px solid #F5F5F5;
                border-radius: 20px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 300px;">¡Unete a nosotros!</button>
            </p>

            <!-- This is the first modal -->
            <div class="reveal" id="exampleModal2" data-reveal style="width: 300px;">
                <p class="lead">Ingresa tu correo</p>
                <form class="grid-x grid-margin-x" method="POST" action="{%url 'home_app:add-suscription'%}">{% csrf_token %}
                    <div class="cell small-12">
                        {{suscripcion.email}}
                    </div>
                    <div class="cell small-12">
                        <button type="submit" class="success button">Suscribete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- FIN segundo bloque pantalla home -->


    <!-- tercer bloque home -->
    <div class="grid-x grid-margin-x align-center" style="margin-top: 2em; ">
        <h3 style="font-family:cambria; font-size: 30px; color: #010851; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);" class="cell">
            Articulos Recientes
        </h3>
        {% for entrada in entradas_recientes %}
        <div class="cell small-6 large-4">
            <div class="card" style="width: 100%; background: #FCFCFC;
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15); border-radius: 20px;">
                <img src=" {{entrada.image.url}}" style="height:200px;">
                <div class="card-section">
                    <h4> {{entrada.title | truncatechars:40}} </h4>
                    <p> {{entrada.resume | truncatechars:70}} </p>
                </div>
            </div>        
        </div>
        {% endfor %}
    </div>
    <!-- FIN tercer bloque -->
</div>
{% include "includes/footer.html" %}

{% endblock content %}