<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center" style="margin-top: 6em;">
        <div class="cell medium-6 large-4" style="margin-top: 2em;">
            <div class="card" style="width: 100%; background: linear-gradient(94.23deg, #6B54FA -2.64%, #DD6B6B 90.08%); border-radius: 15px 15px 15px 15px;">
                <div class="card-divider" style="font-family: 'Cambria'; font-size: 28px; color: #ffffff; background: linear-gradient(94.23deg, #6B54FA -2.64%, #DD6B6B 90.08%); border-radius: 15px 15px 15px 15px;">
                    <h4><strong>Inicio de sesión</strong></h4>
                </div>
                <div class="card-section">
                    <form class="grid-x grid-margin-x" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="cell medium-12">
                            <label style= "color: #ffffff"> <strong>Correo electrónico:</strong>
                                {{form.email}}
                                {{form.email.errors}}
                            </label>
                        </div>
                        <div class="cell medium-12">
                            <label style= "color: #ffffff"> <strong>Contraseña:</strong>
                                {{form.password}}
                                {{form.password.errors}}
                            </label>
                        </div>
                        <button type="submit" class="cell hollow button primary" style="margin-top: -0.1em; font-family:cambria; font-size: 18px; color: #ffffff; background: linear-gradient(89.52deg, rgba(166, 19, 236, 0) -1.13%, rgba(222, 31, 253, 0) 99.75%);
                        border: 4px solid #F5F5F5;
                        border-radius: 20px;
                        border-radius: 300px;">Iniciar sesión
                        </button>
                        <a style="margin-top: -0.9em; font-family:cambria; font-size: 18px;color: #ffffff;" class="clear button secondary" href="{% url 'users_app:user-register' %}">
                            ¿No tienes cuenta? <Strong>Regístrate</Strong>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}